*{
    margin: 0;
    padding: 0;
}

.container{
width: 90%;
max-width:500px;
background: linear-gradient( #77b4e7,#4e4876); 
color: white;
margin: 100px auto 0; 
border-radius: 20px;
padding: 40px 35px;
text-align: center;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.search input{
    border: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 40px;
    flex: 1;
    min-height: 16px;
    font-size: 18px;
}

.search button{
    border: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 15px;
}
.Weather-icon{
    width: 170px;
    margin-top: 30px;

}
.Weather h1{
    font-size: 88px;
    font-weight: bolder;
}

.Weather h2{
    font-size: 60px;
    font-weight:lighter;
    margin-top: -10px;
}
.info{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-left: 10px;
}


